.option-background-background-midblue {
    background-image: url(./assets/background/background-background-midblue.png);
}

.option-background-background-darkRed {
    background-image: url(./assets/background/background-background-darkRed.png);
}

.option-background-background-darkGreen {
    background-image: url(./assets/background/background-background-darkGreen.png);
}

.option-background-background-darkTurquoise {
    background-image: url(./assets/background/background-background-darkTurquoise.png);
}

.option-background-background-midViolet {
    background-image: url(./assets/background/background-background-midViolet.png);
}

.option-background-background-skyBlue {
    background-image: url(./assets/background/background-background-skyBlue.png);
}

.option-background-background-deepPurple {
    background-image: url(./assets/background/background-background-deepPurple.png);
}

.option-background-background-darkOrange {
    background-image: url(./assets/background/background-background-darkOrange.png);
}

.option-background-background-darkBlue {
    background-image: url(./assets/background/background-background-darkBlue.png);
}

.option-background-background-midOrange {
    background-image: url(./assets/background/background-background-midOrange.png);
}

.option-earShape-earShape-long {
    background-image: url(./assets/earShape/earShape-earShape-long.png);
}

.option-earShape-earShape-short {
    background-image: url(./assets/earShape/earShape-earShape-short.png);
}

.option-earShape-earShape-oneBent {
    background-image: url(./assets/earShape/earShape-earShape-oneBent.png);
}

.option-earShape-earShape-twoBent {
    background-image: url(./assets/earShape/earShape-earShape-twoBent.png);
}

.option-bodyMainColor-bodyMainColor-brown {
    background-image: url(./assets/bodyMainColor/bodyMainColor-bodyMainColor-brown.png);
}

.option-bodyMainColor-bodyMainColor-black {
    background-image: url(./assets/bodyMainColor/bodyMainColor-bodyMainColor-black.png);
}

.option-bodyMainColor-bodyMainColor-white {
    background-image: url(./assets/bodyMainColor/bodyMainColor-bodyMainColor-white.png);
}

.option-bodyMainColor-bodyMainColor-orange {
    background-image: url(./assets/bodyMainColor/bodyMainColor-bodyMainColor-orange.png);
}

.option-bodyMainColor-bodyMainColor-grey {
    background-image: url(./assets/bodyMainColor/bodyMainColor-bodyMainColor-grey.png);
}

.option-bodyMainColor-bodyMainColor-bright {
    background-image: url(./assets/bodyMainColor/bodyMainColor-bodyMainColor-bright.png);
}

.option-spotPattern-spotPattern-many {
    background-image: url(./assets/spotPattern/spotPattern-spotPattern-many.png);
}

.option-spotPattern-spotPattern-belly {
    background-image: url(./assets/spotPattern/spotPattern-spotPattern-belly.png);
}

.option-spotPattern-spotPattern-cheeks {
    background-image: url(./assets/spotPattern/spotPattern-spotPattern-cheeks.png);
}

.option-spotPattern-spotPattern-noSpots {
    background-image: url(./assets/spotPattern/spotPattern-spotPattern-noSpots.png);
}

.option-spotPattern-spotPattern-eye {
    background-image: url(./assets/spotPattern/spotPattern-spotPattern-eye.png);
}

.option-spotPattern-spotPattern-forehead {
    background-image: url(./assets/spotPattern/spotPattern-spotPattern-forehead.png);
}

.option-props-props-nihongami {
    background-image: url(./assets/props/props-props-nihongami.png);
}

.option-props-props-punk {
    background-image: url(./assets/props/props-props-punk.png);
}

.option-props-props-pirate {
    background-image: url(./assets/props/props-props-pirate.png);
}

.option-props-props-noProps {
    background-image: url(./assets/props/props-props-noProps.png);
}

.option-props-props-crown {
    background-image: url(./assets/props/props-props-crown.png);
}

.option-props-props-crownfirst {
    background-image: url(./assets/props/props-props-crownfirst.png);
}

.option-props-props-crownsecond {
    background-image: url(./assets/props/props-props-crownsecond.png);
}

.option-props-props-crownthird {
    background-image: url(./assets/props/props-props-crownthird.png);
}

.option-props-props-magic {
    background-image: url(./assets/props/props-props-magic.png);
}

.option-props-props-glasses {
    background-image: url(./assets/props/props-props-glasses.png);
}

.option-props-props-hijab {
    background-image: url(./assets/props/props-props-hijab.png);
}

.option-props-props-ninja {
    background-image: url(./assets/props/props-props-ninja.png);
}

.option-props-props-samurai {
    background-image: url(./assets/props/props-props-samurai.png);
}

.option-props-props-surgeonmask {
    background-image: url(./assets/props/props-props-surgeonmask.png);
}

.option-props-props-astronaut {
    background-image: url(./assets/props/props-props-astronaut.png);
}

.option-props-props-bow {
    background-image: url(./assets/props/props-props-bow.png);
}
