:root {
    --color-bg: #EFEFEF;
    --color-text-main: #4C4C4C;
    --color-primary: #4C4C4C;
    --wrapper-height: 87vh;
    --image-max-width: 300px;
    --image-margin: 3rem;
    --font-family: "HK Grotesk";
    --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

/* Import fonts */
@font-face {
    font-family: HK Grotesk;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027") format("opentype");
}

@font-face {
    font-family: HK Grotesk;
    font-weight: bold;
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437") format("opentype");
}

/* Our remix on glitch button */
.btn--remix {
    font-family: HK Grotesk;
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    line-height: 1rem;
    font-weight: 500;
    height: 2.75rem;
    align-items: center;
    cursor: pointer;
    background: #FEFEFE;
    border: 2px solid #000000;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    white-space: nowrap;
    margin-left: 20px;

}

.btn--remix img {
    margin-right: 0.5rem;
}

.btn--remix:hover {
    background-color: #A4A4A4;
}

/* Navigation grid */

.about-wrapper {
    background-color: #4C4C4C;
}

.about {
    margin-left: 40px;
    padding: 1rem 0 0.75rem 0;

}

.about-head {
    color: #FEFEFE;
}

.about-text {
    color: #FEFEFE;
    font-size: 1rem;
    white-space: normal;
}


.header {
    margin-left: 40px;
    padding: 1rem 0 0.75rem 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0rem auto 0;
    padding: 1rem 0 0.75rem 0;
    width: 100%;
    flex-wrap: wrap;
    background-color: #4C4C4C;
}

.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    color: #000;
    text-decoration: none;
    border-style: none;
}

.footer a:hover {
    background: #A4A4A4;
}

.footer .links {
    padding: 0.5rem 1rem 1.5rem;
    white-space: normal;
    line-height: 4rem;
}

.divider {
    padding: 0 1rem;
}

/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
    font-family: HK Grotesk;
    background-color: var(--color-bg);
    margin: 0px;
}

.error-message {
    color: #D73045
}

/* Page structure */
.wrapper {
    min-height: var(--wrapper-height);
    display: grid;
    place-items: center;
    margin: 0px 40px 40px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

p {
    font-size: 1.25rem;
}

/* Title h1 style */
.title {
    color: #000000;
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 105%;
    margin: 2rem 0 0;
    /*align-self: normal;*/

}

/* Very light scaling for our illustration */
.illo-container {
    display: flex;
    justify-content: flex-end;
}

.illustration {
    max-width: 100%;
    max-height: 150px;
    margin-top: 1rem;
}

/* Styles for our custom color form and its results */
.color-info {
    margin-left: 5px;
}

.color-search {
    margin-top: 3rem;
}

.color-form {
    width: 90%;
    max-width: 500px;
    margin-left: 5px;
}

.color-form a:not(.btn--remix) {
    font-weight: bold;
    color: var(--color-text-main);
    margin-top: 8px;
}

.color-form button {
    margin-top: 8px;
}

.color-form button:hover {
    cursor: pointer;
    box-shadow: -8px 4px 20px #9BE7D8;
}

form {
    margin: 0.75rem 0;
}

button,
input {
    font-family: inherit;
    font-size: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

.text-input {
    border: 1px solid #000000;
}

label {
    color: #4C4C4C;
    font-weight: bold;
}


.instructions {

}

.instructions p {
    font-size: 1rem;
    white-space: normal;
}

h2 {
    color: #4C4C4C;
}

.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.option-off-color-brown {
    background-image: url(./assets/bodyOffColor/oc-brown.png);
}

.option-off-color-white {
    background-image: url(./assets/bodyOffColor/oc-white.png);
}

.option-off-color-black {
    background-image: url(./assets/bodyOffColor/oc-black.png);
}

.option-off-color-bright {
    background-image: url(./assets/bodyOffColor/oc-bright.png);
}

.option-off-color-grey {
    background-image: url(./assets/bodyOffColor/oc-grey.png);
}

.option-off-color-orange {
    background-image: url(./assets/bodyOffColor/oc-orange.png);
}

.drinkcard-cc {
    margin: 10px;
    background-color: #FEFEFE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    background-size: contain;
    background-repeat: repeat;
    display: inline-block;
    width: 100px;
    height: 100px;
    -webkit-filter: brightness(1) grayscale(0) opacity(.5);
    -moz-filter: brightness(1) grayscale(0) opacity(.5);
    filter: brightness(1) grayscale(0) opacity(.5);
}


.cc-selector:focus-within input + label.drinkcard-cc {
    /*border: 3px solid #888888;*/
    -webkit-filter: brightness(1) grayscale(0) opacity(1);
    -moz-filter: brightness(1) grayscale(0) opacity(1);
    filter: brightness(1) grayscale(0) opacity(1);
}

.cc-selector input[type="radio"]:checked + label.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    border: 3px solid #000000;
}


div.gallery {
    margin: 20px;
    /*border: 1px solid #000000;*/
    float: left;
    width: 300px;
    background-color: #FEFEFE;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery img {
    width: 90%;
    margin: 5%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
