<!DOCTYPE html>
<html lang="en">
{{>headerPart pageName="FAQ"}}
<body>
<div class="header">
    <h1 class="title">{{seo.title}} FAQ</h1>
</div>
<div class="wrapper">
    <div class="content" role="main">
        <div class="instructions">
            <h2>
                What is this project?
            </h2>
            <p>
                This Project is a blockchain art project for all Startbahn employees. It celebrates the love for all
                things art and blockchain as well as the respect for creativity and diversity.
            </p>
            <h2>
                Where can I see all the Startbahninchen of this season?
            </h2>
            <p>
                Click <b><a href="/">here</a></b> to go to
                our Gallery page to see all awesome creations of our colleagues.
            </p>
            <h2>
                What does the name "Startbahninchen" mean?
            </h2>
            <p>
                Startbahninchen is a joined version two German words Startbahn, which is the name of the
                company that provides services around SRR, and Kaninchen, which means "bunny".
            </p>
            <h2>
                What happens with the Season 1 Startbahninchen?
            </h2>
            <p>
                There are no concrete plans yet, but one idea could be that we print all Startbahninchen on an employee
                T-Shirt.
            </p>
            <h2>
                Are the plans for the future of Startbahninchen?
            </h2>
            <p>
                There are no concrete plans yet, but already a million ideas for future editions and use cases of this
                service.
            </p>
            <h2>
                Where can I get my own Startbahninchen?
            </h2>
            <p>
                Click <b><a href="/yours">here</a></b> to customize your Startbahninchen and mint your SRR directly to
                your Ethereum address.
            </p>
            <h2>
                What if I don't have a voucher?
            </h2>
            <p>
                No problem. Let's get in touch, and I will send you one. <br>
                What? You don't know how? I was afraid this might happen. <br>
                If you don't know how to get in touch with me, maybe you should not be here :).<br>
                If that still does not stop you try jens@startbahn.jp
            </p>
        </div>

    </div>
</div>
{{> footer}}
</body>
</html>
