<!DOCTYPE html>
<html lang="en">
{{>htmlHeaderPart pageName="Get Your Own"}}
<body>
<div class="header">
    <h1 class="title">Get your own {{seo.title}}</h1>
</div>
<div class="wrapper">
    <div class="content" role="main">
        {{#if error}}
            <div class="error-message">{{error}}</div>
        {{/if}}

        <div class="instructions">
            <h2>
                How To:
            </h2>
            <p>
                Select the features for your Startbahninchen as well as your voucher code and ethereum address and
                submit. Then we will pull your rabbit out of the magic hat and send it to the specified address. <br>
            </p>

        </div>

        <div class="bunny-builder">
            <form class="bunny-builder-form" method="post">
                {{> fragments}}
                <label for="voucher">
                    Enter your voucher code.<br>
                    <input id="voucher" name="voucher" required="required" type="text" class="text-input">
                </label>

                <br>
                <label for="eoa">
                    Enter your Ethereum address<br>
                    <input id="eoa" name="eoa" required="required" type="text" class="text-input">
                </label>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{{> footer}}
</body>
</html>
