{{>generatedFragments}}
<label for="bodyOffColor">
    Select spot color
    <div class="cc-selector">
        <input id="oc-brown" type="radio" name="bodyOffColor" value="brown"/>
        <label tabindex="-1"
               class="drinkcard-cc option-off-color-brown" for="oc-brown"></label>
        <input id="oc-white" type="radio" name="bodyOffColor" value="white"/>
        <label tabindex="-1"
               class="drinkcard-cc option-off-color-white" for="oc-white"></label>
        <input id="oc-black" type="radio" name="bodyOffColor" value="black"/>
        <label tabindex="-1"
               class="drinkcard-cc option-off-color-black" for="oc-black"></label>
        <input id="oc-bright" type="radio" name="bodyOffColor" value="bright"/>
        <label tabindex="-1"
               class="drinkcard-cc option-off-color-bright" for="oc-bright"></label>
        <input id="oc-grey" type="radio" name="bodyOffColor" value="grey"/>
        <label tabindex="-1"
               class="drinkcard-cc option-off-color-grey" for="oc-grey"></label>
        <input id="oc-orange" type="radio" name="bodyOffColor" value="orange"/>
        <label tabindex="-1"
               class="drinkcard-cc option-off-color-orange" for="oc-orange"></label>
    </div>

</label>
<br>
