<label for="BaseBunny">Select BaseBunny<div class="cc-selector">
<input id="BaseBunny-BaseBunny-undefined" type="radio" name="BaseBunny" value="BaseBunny-undefined"/> <label class="drinkcard-cc option-BaseBunny-BaseBunny-undefined" for="BaseBunny-BaseBunny-undefined"></label>
</div></label><br>
<label for="props">Select props<div class="cc-selector">
<input id="props-props-punk" type="radio" name="props" value="props-punk"/> <label class="drinkcard-cc option-props-props-punk" for="props-props-punk"></label>
<input id="props-props-pirate" type="radio" name="props" value="props-pirate"/> <label class="drinkcard-cc option-props-props-pirate" for="props-props-pirate"></label>
<input id="props-props-magic" type="radio" name="props" value="props-magic"/> <label class="drinkcard-cc option-props-props-magic" for="props-props-magic"></label>
<input id="props-props-glasses" type="radio" name="props" value="props-glasses"/> <label class="drinkcard-cc option-props-props-glasses" for="props-props-glasses"></label>
<input id="props-props-hijab" type="radio" name="props" value="props-hijab"/> <label class="drinkcard-cc option-props-props-hijab" for="props-props-hijab"></label>
</div></label><br>
