<label for="background">Select background
    <div class="cc-selector">
        <input id="background-background-midblue" type="radio" name="background" value="background-midblue"/> <label
            tabindex="-1" class="drinkcard-cc option-background-background-midblue"
            for="background-background-midblue"></label>
        <input id="background-background-darkRed" type="radio" name="background" value="background-darkRed"/> <label
            tabindex="-1" class="drinkcard-cc option-background-background-darkRed"
            for="background-background-darkRed"></label>
        <input id="background-background-darkGreen" type="radio" name="background" value="background-darkGreen"/> <label
            tabindex="-1" class="drinkcard-cc option-background-background-darkGreen"
            for="background-background-darkGreen"></label>
        <input id="background-background-darkTurquoise" type="radio" name="background"
               value="background-darkTurquoise"/> <label tabindex="-1"
                                                         class="drinkcard-cc option-background-background-darkTurquoise"
                                                         for="background-background-darkTurquoise"></label>
        <input id="background-background-midViolet" type="radio" name="background" value="background-midViolet"/> <label
            tabindex="-1" class="drinkcard-cc option-background-background-midViolet"
            for="background-background-midViolet"></label>
        <input id="background-background-skyBlue" type="radio" name="background" value="background-skyBlue"/> <label
            tabindex="-1" class="drinkcard-cc option-background-background-skyBlue"
            for="background-background-skyBlue"></label>
        <input id="background-background-deepPurple" type="radio" name="background" value="background-deepPurple"/>
        <label tabindex="-1" class="drinkcard-cc option-background-background-deepPurple"
               for="background-background-deepPurple"></label>
        <input id="background-background-darkOrange" type="radio" name="background" value="background-darkOrange"/>
        <label tabindex="-1" class="drinkcard-cc option-background-background-darkOrange"
               for="background-background-darkOrange"></label>
        <input id="background-background-darkBlue" type="radio" name="background" value="background-darkBlue"/> <label
            tabindex="-1" class="drinkcard-cc option-background-background-darkBlue"
            for="background-background-darkBlue"></label>
        <input id="background-background-midOrange" type="radio" name="background" value="background-midOrange"/> <label
            tabindex="-1" class="drinkcard-cc option-background-background-midOrange"
            for="background-background-midOrange"></label>
    </div>
</label><br>
<label for="bodyMainColor">Select body main color
    <div class="cc-selector">
        <input id="bodyMainColor-bodyMainColor-brown" type="radio" name="bodyMainColor" value="bodyMainColor-brown"/>
        <label tabindex="-1" class="drinkcard-cc option-bodyMainColor-bodyMainColor-brown"
               for="bodyMainColor-bodyMainColor-brown"></label>
        <input id="bodyMainColor-bodyMainColor-black" type="radio" name="bodyMainColor" value="bodyMainColor-black"/>
        <label tabindex="-1" class="drinkcard-cc option-bodyMainColor-bodyMainColor-black"
               for="bodyMainColor-bodyMainColor-black"></label>
        <input id="bodyMainColor-bodyMainColor-white" type="radio" name="bodyMainColor" value="bodyMainColor-white"/>
        <label tabindex="-1" class="drinkcard-cc option-bodyMainColor-bodyMainColor-white"
               for="bodyMainColor-bodyMainColor-white"></label>
        <input id="bodyMainColor-bodyMainColor-orange" type="radio" name="bodyMainColor" value="bodyMainColor-orange"/>
        <label tabindex="-1" class="drinkcard-cc option-bodyMainColor-bodyMainColor-orange"
               for="bodyMainColor-bodyMainColor-orange"></label>
        <input id="bodyMainColor-bodyMainColor-grey" type="radio" name="bodyMainColor" value="bodyMainColor-grey"/>
        <label tabindex="-1" class="drinkcard-cc option-bodyMainColor-bodyMainColor-grey"
               for="bodyMainColor-bodyMainColor-grey"></label>
        <input id="bodyMainColor-bodyMainColor-bright" type="radio" name="bodyMainColor" value="bodyMainColor-bright"/>
        <label tabindex="-1" class="drinkcard-cc option-bodyMainColor-bodyMainColor-bright"
               for="bodyMainColor-bodyMainColor-bright"></label>
    </div>
</label><br>
<label for="earShape">Select ear shape
    <div class="cc-selector">
        <input id="earShape-earShape-long" type="radio" name="earShape" value="earShape-long"/> <label tabindex="-1"
                                                                                                       class="drinkcard-cc option-earShape-earShape-long"
                                                                                                       for="earShape-earShape-long"></label>
        <input id="earShape-earShape-short" type="radio" name="earShape" value="earShape-short"/> <label tabindex="-1"
                                                                                                         class="drinkcard-cc option-earShape-earShape-short"
                                                                                                         for="earShape-earShape-short"></label>
        <input id="earShape-earShape-oneBent" type="radio" name="earShape" value="earShape-oneBent"/> <label
            tabindex="-1" class="drinkcard-cc option-earShape-earShape-oneBent" for="earShape-earShape-oneBent"></label>
        <input id="earShape-earShape-twoBent" type="radio" name="earShape" value="earShape-twoBent"/> <label
            tabindex="-1" class="drinkcard-cc option-earShape-earShape-twoBent" for="earShape-earShape-twoBent"></label>
    </div>
</label><br>
<label for="props">Select props
    <div class="cc-selector">
        <input id="props-props-noProps" type="radio" name="props" value="props-noProps"/> <label tabindex="-1"
                                                                                                 class="drinkcard-cc option-props-props-noProps"
                                                                                                 for="props-props-noProps"></label>
        <input id="props-props-nihongami" type="radio" name="props" value="props-nihongami"/> <label tabindex="-1"
                                                                                                     class="drinkcard-cc option-props-props-nihongami"
                                                                                                     for="props-props-nihongami"></label>
        <input id="props-props-punk" type="radio" name="props" value="props-punk"/> <label tabindex="-1"
                                                                                           class="drinkcard-cc option-props-props-punk"
                                                                                           for="props-props-punk"></label>
        <input id="props-props-pirate" type="radio" name="props" value="props-pirate"/> <label tabindex="-1"
                                                                                               class="drinkcard-cc option-props-props-pirate"
                                                                                               for="props-props-pirate"></label>
        <input id="props-props-magic" type="radio" name="props" value="props-magic"/> <label tabindex="-1"
                                                                                             class="drinkcard-cc option-props-props-magic"
                                                                                             for="props-props-magic"></label>
        <input id="props-props-glasses" type="radio" name="props" value="props-glasses"/> <label tabindex="-1"
                                                                                                 class="drinkcard-cc option-props-props-glasses"
                                                                                                 for="props-props-glasses"></label>
        <input id="props-props-hijab" type="radio" name="props" value="props-hijab"/> <label tabindex="-1"
                                                                                             class="drinkcard-cc option-props-props-hijab"
                                                                                             for="props-props-hijab"></label>
        <input id="props-props-ninja" type="radio" name="props" value="props-ninja"/> <label tabindex="-1"
                                                                                             class="drinkcard-cc option-props-props-ninja"
                                                                                             for="props-props-ninja"></label>
        <input id="props-props-samurai" type="radio" name="props" value="props-samurai"/> <label tabindex="-1"
                                                                                                 class="drinkcard-cc option-props-props-samurai"
                                                                                                 for="props-props-samurai"></label>
        <input id="props-props-surgeonmask" type="radio" name="props" value="props-surgeonmask"/> <label tabindex="-1"
                                                                                                         class="drinkcard-cc option-props-props-surgeonmask"
                                                                                                         for="props-props-surgeonmask"></label>
        <input id="props-props-astronaut" type="radio" name="props" value="props-astronaut"/> <label tabindex="-1"
                                                                                                     class="drinkcard-cc option-props-props-astronaut"
                                                                                                     for="props-props-astronaut"></label>
        <input id="props-props-bow" type="radio" name="props" value="props-bow"/> <label tabindex="-1"
                                                                                         class="drinkcard-cc option-props-props-bow"
                                                                                         for="props-props-bow"></label>
        <input id="props-props-crownfirst" type="radio" name="props" value="props-crownfirst"/> <label tabindex="-1"
                                                                                                       class="drinkcard-cc option-props-props-crownfirst"
                                                                                                       for="props-props-crownfirst"></label>
        <input id="props-props-crownsecond" type="radio" name="props" value="props-crownsecond"/> <label tabindex="-1"
                                                                                                         class="drinkcard-cc option-props-props-crownsecond"
                                                                                                         for="props-props-crownsecond"></label>
        <input id="props-props-crownthird" type="radio" name="props" value="props-crownthird"/> <label tabindex="-1"
                                                                                                       class="drinkcard-cc option-props-props-crownthird"
                                                                                                       for="props-props-crownthird"></label>
    </div>
</label><br>
<label for="spotPattern">Select spot pattern
    <div class="cc-selector">
        <input id="spotPattern-spotPattern-noSpots" type="radio" name="spotPattern" value="spotPattern-noSpots"/> <label
            tabindex="-1" class="drinkcard-cc option-spotPattern-spotPattern-noSpots"
            for="spotPattern-spotPattern-noSpots"></label>
        <input id="spotPattern-spotPattern-many" type="radio" name="spotPattern" value="spotPattern-many"/> <label
            tabindex="-1" class="drinkcard-cc option-spotPattern-spotPattern-many"
            for="spotPattern-spotPattern-many"></label>
        <input id="spotPattern-spotPattern-belly" type="radio" name="spotPattern" value="spotPattern-belly"/> <label
            tabindex="-1" class="drinkcard-cc option-spotPattern-spotPattern-belly"
            for="spotPattern-spotPattern-belly"></label>
        <input id="spotPattern-spotPattern-cheeks" type="radio" name="spotPattern" value="spotPattern-cheeks"/> <label
            tabindex="-1" class="drinkcard-cc option-spotPattern-spotPattern-cheeks"
            for="spotPattern-spotPattern-cheeks"></label>
        <input id="spotPattern-spotPattern-eye" type="radio" name="spotPattern" value="spotPattern-eye"/> <label
            tabindex="-1" class="drinkcard-cc option-spotPattern-spotPattern-eye"
            for="spotPattern-spotPattern-eye"></label>
        <input id="spotPattern-spotPattern-forehead" type="radio" name="spotPattern" value="spotPattern-forehead"/>
        <label tabindex="-1" class="drinkcard-cc option-spotPattern-spotPattern-forehead"
               for="spotPattern-spotPattern-forehead"></label>
    </div>
</label><br>
